#Backend
Backend/node_modules/
Backend/uploads/
Backend/config/.env
Backend/config/fcm-key.json
Backend/ecosystem.config.js
Backend/versions/
Backend/versions/

#Frontend
Frontend/.idea/
Frontend/.gradle/
Frontend/.kotlin/
Frontend/gradle/wrapper/gradle-wrapper.jar
Frontend/build/
Frontend/app/.idea/
Frontend/app/*.iml
Frontend/app/build/
Frontend/app/release/
Frontend/app/sampledata/
Frontend/app/google-services.json
Frontend/app/local.properties
Frontend/local.properties
Frontend/keystore.properties

!Frontend/app/src/
!Frontend/settings.gradle.kts
!Frontend/build.gradle.kts
!Frontend/app/build.gradle.kts

#Flutter
Flutter_app/android/app/google-services.json

#SQL e file vari
ScriptSQL/
clers.docx
.vscode/
.vs/
release/